.pydevproject
.cproject
.project
CMakeCache.txt
CMakeFiles
Makefile.ros
lib
bin
build
msg_gen
srv_gen
lisp
cmake_install.cmake
x86_64xeno
*.swp
*.pyc
.settings
.clmcplot_current_point
control/wamControl/btclient/examples/ex7-serial/ex7.map
_gtest_from_src
